* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.right-section {
    display: flex;
    align-items: center;
}

.road-assistance {
    display: flex;
    padding-left: 10px;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: black;
}

.right-section .navigation {
    border-right: 2px solid gray;
}

.road-assistance .icon {
    margin-right: 10px;
}

.flex {
    display: flex;
}

.orange-btn {
    background: #FF5433;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    margin-top: 35px;
    display: inline-block;
    color: #fff;
}

#hero-section {
    padding: 90px 0px;
}

#hero-section .image-section { 
    background-image: url(../img/car-service.png);
    height: 80vh;
    width: 40%;
}

#hero-section .text-section {
    width: 60%;
    height: 80vh;
    background-color: black;
    color: white;
    padding: 80px;
}

#hero-section .text-section h1 {
    font-weight: 800;
    font-size: 64px;
    padding-bottom: 20px;
}

#hero-section .text-section p {
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 30px;
}

#service-section {
    background: #F5F5F5;
    padding: 90px 0;
}

#service-section .flex {
    justify-content: space-between;
}

#service-section .service-left {
    background: #fff;
    padding: 35px;
    width: 49%;
}

#service-section .service-left .image-box {
    width: 100%;
    height: 40vh;
    background-image: url(../img/auto-car.png);
    margin-bottom: 20px;
}

#service-section .service-left h3 {
    font-size: 48px;
    margin-bottom: 20px;
}

#service-section .service-left p {
    font-size: 24px;
    margin-bottom: 15px;
}

#service-section .service-left a {
    color: #1E1B1B;
    text-decoration: none;
}

#service-section .service-left a p {
    margin-top: 15px;
}

#service-section .service-left a img {
    width: fit-content;
}

#service-section .service-right {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
}

#service-section .service-right .service-box {
    background: #fff;
    height: 232px;
    justify-content: center;
    align-items: center;
    width: 45%;
    text-align: center;
    margin: 10px;
}

#service-section .service-right .service-box img {
    margin-top: 75px;
}

#service-section .service-right .service-box p {
    margin-top: 10px;
}

#service-section .service-right .service-box:hover {
    background: #FF5433;
}

#how1-section {
    padding: 90px 0;
}

#how1-section {
    justify-content: space-between;
}

#how1-section .how1-text {
    width: 49%;
}

#how1-section .how1-text h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 67.2px;
    margin-bottom: 40px;
}

#how1-section .how1-text .flex {
    margin-bottom: 20px;
}

#how1-section .how1-text .flex p {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-left: 15px;
}

#how1-section .how1-text .flex img {
    height:fit-content;
}

#how1-section .how1-car1 {
    width: 24%;
    height: 100vh;
    background: url(../img/img-1.png);
    background-repeat: no-repeat;
    margin: 0 10px;
}

#how1-section .how1-car2 {
    width: 24%;
    height: 100vh;
    background: url(../img/img-2.png);
    background-repeat: no-repeat;
    margin: 0 10px;   
}

#how2-section .how2-image1 {
    width: 24%;
    height: 100vh;
    background: url(../img/img-3.png);
    background-repeat: no-repeat;
    margin: 0 10px;
}

#how2-section .how2-image2 {
    width: 24%;
    height: 100vh;
    background: url(../img/img-4.png);
    background-repeat: no-repeat;
    margin: 0 10px;
}

#how2-section .how2-text {
    width: 48%;
    margin: 0 10px;
    margin-left: 15px;
}

#how2-section .how2-text h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: px;
    margin-bottom: 15px;   
}

#how2-section .how2-text p {
    font-size: 18px;
    color: #232536;
    line-height: 32px;
}



#footer-section {
    background: #1E1B1B;
    color: #fff;
}

#footer-section .footer-top {
    padding: 80px 0;
}

#footer-section .footer-left {
    width: 50%;
}

#footer-section .footer-left h3 {
    font-size: 48px;
}

#footer-section .footer-right {
    width: 50%;
}

#footer-section .footer-right p {
    font-size: 18px;
    color: #939191;
    margin: 10px 0;
}

#footer-section .footer-right h5 {
    font-size: 24px;
    margin-bottom: 30px;
}

#footer-section .footer-bottom {
    padding: 50px 0;
}

.footer-bottom .logo-section {
    width: 25%;
}

.footer-bottom .link-section {
    width: 60%;
    align-items: center;
}

.footer-bottom .link-section a {
    text-decoration: none;
    padding: 23px;
    color: #fff;
}
.footer-bottom .copyright-section {
    width: 15%;
}

.footer-bottom .copyright-section p {
    color: #939191;
}